@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
    header {
        margin: 0 0 0 7%; 
        width:86%;
    }
    
    nav ul {
        margin: 0 0 0 7%; 
        width:86%;
    }
    
    main figure { 
        margin: 0 0 .2rem 7%; 
        width:86%; 
    }
    
    section table {
        margin: 2% 0 4% 7%; 
        width:86%;
    }
    
    article {
        margin: 0 0 0 7%; 
        width:86%;
    }
    
    article p.town-article img { 
        width: 29.333%; 
    }
    
    footer {
        margin: 0 0 0 7%; 
        width:86%;
    }
}