@media only screen and (min-width: 64em) {
  
    header {
        margin: 0 0 0 7%; 
        width:86%;
    }
    
    nav button { 
        display:none; 
    } 
    
    nav {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        background-color: #00887A;
        margin: 0 0 .2rem 7%; 
        width:86%;
    }
    
    nav ul.hide {
        display: block;
    }

    nav ul li {
        display: inline;
        float: left;
    }
    
    nav ul li a {
        border-top: none;
    }
    
    main figure { 
        margin: 0 0 .2rem 7%; 
        width:86%; 
    }
    
    section table {
        margin: 2% 0 4% 7%; 
        width:86%;
    }
    
    article {
        margin: 0 0 0 7%; 
        width:86%;
    }
    
    article p.town-article img { 
        width: 29.333%; 
    }
    
    footer {
        margin: 0 0 0 7%; 
        width:86%;
    }
}