@media only screen and (min-width: 37.5em) {
  
    header h1 {
        font-size: 3.5em;
        color: #0EAB9A;
        text-align: center;
        margin: 1em 1em 0em;
    }
    
    header img {
        float: left;
        margin: 1em;
        width: 150px;
    }
  
    section.forecast {
        display: block;
    }
    
    section table {
        margin: 2% 0 4% 2%; 
        width:96%;
        border-collapse: collapse;
    }

    section table, th, td {
        border: 3px solid #FFA909;
    }

    td, th {
        padding: 4px;
    }

    th {
        background-color: #FFA909;
    }
  
    article p.town-article img { 
        width: 62.666%; float:right; 
    }
}